{% extends "../base.html.twig" %}

{% block body %}
    <div class="container content-area">
        <div class="row">
            <div class="col-sm-12 col-xs-12">
                <div class="notfound-block">
                    <div class="notfound-main-text ">404</div>
                    <div class="notfound-sub-text">Page not found</div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}