/*  базовые стили */
a {
	cursor: pointer;
}

body {
	font-family: 'Roboto', sans-serif;
	background: #ffffff;
}

@media (min-width: 1200px) {
    .container {
        width: 970px !important;
    }
}

.row {
	margin: 0;
}

.alert {
	padding: 5px;
}

.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
	position: relative;
	min-height: 1px;
	padding-left: 6px;
	padding-right: 6px;
}

.container {
	padding-left: 4px;
	padding-right: 4px;
}

.content-area {
	background: #ffffff;
	min-height: calc(100vh - 200px);
}

.btn {
	background-color: #337ab7;
	color: white;
	border-radius: 3px;
	border: none;
}
.btn:hover {
	background-color: #337ccc;
}

.top-navbar {
	border-bottom: 1px solid #d9e1ec;
}

.logo {
	font-weight: 100;
	color: #333333;
}

.logo:hover {
	text-decoration: none;
}

.blur-background {
	position: absolute;
	top: 0;
	left: 0;
}

.ui-dialog {
	box-shadow: 0 0 15px 2px;
	position: fixed;
	top: 50%;
	left: 50%;
}

.ui-dialog-titlebar {
	background-color: #444;
}

.nav-list-header {
	margin: 0;
	font-size: 15px;
	font-weight: 200;
	border-bottom: 1px solid #d9e1ec;
}
.nav-list {
	list-style: none;
	padding: 0 10px 0 10px;
}

.nav-list li {
	padding: 5px;
}

.nav-list > li > a {
	display: block;
}

.title {
	margin: 5% 0 0 0;
	font-weight: 100;
	line-height: 110%;
	color: #333333;
}

.text-block {
	text-align: justify;
    margin-top: 15px;
}