<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}www.twitch-viewer.com{% endblock %}</title>
        <meta name="author" content="darakon92@gmail.com">
        <meta name="description" content="Twitch viewer" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,700&amp;subset=cyrillic-ext" rel="stylesheet">

        {% if not devEnv %}
            <meta name="google-site-verification" content="G6KuAsa0JW0lKPZAThfh1kXs4bGHM7OFonYNQN9g1bo" />
        {% endif %}

        <meta name="revisit-after" content="1">
        <meta name="keywords" content="IT, development, viewer">
        <meta name="description" content="www.twitch-viewer.com - Twitch viewer">

        <meta property="og:site_name" content="www.twitch-viewer.com" />
        {% block openGraphTags %}
            <meta property="og:type" content="website" />
            <meta property="og:url" content="https://www.twitch-viewer.com" />
            <meta property="og:description" content="www.twitch-viewer.com (Artem Barhanov) - Twitch viewer" />
        {% endblock %}

        <link rel="stylesheet" href="{{ asset('build/js/app.css') }}"/>
        <link rel="stylesheet" href="{{ asset('build/css/app.css') }}"/>
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        <div class="layout">
            {% block header %} {% include 'header.html.twig' %} {% endblock %}
            {% block body %}{% endblock %}
            {% block footer %} {% include 'footer.html.twig' %} {% endblock %}
        </div>

        <script src="{{ asset('build/js/app.js') }}"></script>
        {% block javascripts %}{% endblock %}
    </body>
</html>
