{% extends "base.html.twig" %}

{% block body %}
    <div class="container content-area">
        <div class="row">
            <h2 class="title">Hello{% if username is defined %}, {{ username }}!{% endif %}</h2>
            <div class="text-block">
                {% if authUri is defined %}
                    <a class="btn" href="{{ authUri }}">Login via Twitch</a>
                {% endif %}
            </div>
            {% if username is defined %}
            {% if favUsername is not defined %}
                <div id="subscribe-block" class="text-block">
                    <label class="title" for="fav-username">Enter name of your favourite user: </label>
                    <input title="fav user" type="text" id="fav-username" required="required">
                    <span id="fav-user-error" style="display: none"></span>
                    <div>
                        <button class="btn" data-uri="/add-fav-user/"
                                onclick="FavUser.save(this)">Subscribe
                        </button>
                    </div>
                </div>
                <div id="subscribe-success" style="display: none">
                    <span>You are subscribed!</span>
                    <a href="{{ path('streamer') }}">Now go to streamer page</a>
                </div>
            {% else %}
                <div class="text-block">
                    <span class="title">You already subscribed on: {{ favUsername }}</span>
                    <p>
                        <a href="{{ path('streamer') }}">Watch stream</a>
                    </p>
                    <span id="remove-fav-user-error" style="display: none"></span>
                    <div>
                        <button class="btn" data-id="{{ favUserId }}" data-uri="/remove-fav-user/"
                                onclick="FavUser.remove(this)">Unsubscribe
                        </button>
                    </div>
                </div>
            {% endif %}
                <script src="{{ asset('build/js/app/main.js') }}"></script>
            {% endif %}
        </div>

{% endblock %}