{% extends "base.html.twig" %}

{% block body %}
    <div class="container content-area">
        <div class="col-sm-9 col-xs-12">
            <div class="text-block">
                <h2 class="title">
                    {{ favUsername }}'s stream
                </h2>

                <div class="row">
                    <div class="col-sm-9 col-xs-9">
                        <iframe
                                src="https://player.twitch.tv/?channel={{ favUsername }}"
                                height="300"
                                width="500"
                                allowfullscreen="true">
                        </iframe>
                        <h3 class="title">Last events</h3>
                        {% if topEvents is empty %}
                            <div class="row" align="center">
                                <p>No events for a while</p>
                            </div>
                        {% endif %}
                        {% for evt in topEvents %}
                            <div class="row">
                                <div class="col-sm-4 col-xs-4" align="center">
                                    {{ evt.dateAdded|date('Y-m-d H:i') }}
                                </div>
                                <div class="col-sm-8 col-xs-8">
                                    {{ evt.event }}
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                    <div class="col-sm-3 col-xs-3">
                        <iframe frameborder="0"
                                scrolling="no"
                                id="{{ favUsername }}"
                                src="https://www.twitch.tv/embed/{{ favUsername }}/chat"
                                height="500"
                                width="350">
                        </iframe>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}